<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Part Form</title>
</head>
<body>
<h1>Product Detail</h1>
<form action="#" th:action="@{/showFormAddProduct}" th:object="${product}" method="POST">
    <!-- Display error messages for 'inv' field -->
    <span class="error" th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}"></span>

    <!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

    <p><input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

    <p><input type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4"/></p>

    <p>
        <input type="text" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/>
        <!-- Display error message for 'inv' field -->
        <span class="error-message" th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}"></span>
    </p>
    <!-- Display the alert message if present -->
    <div th:if="${alertMessage}" class="alert alert-warning" role="alert">
        <p th:text="${alertMessage}"></p>
    </div>

    <!-- Add a hyperlink to the main screen at the bottom -->
    <a href="/mainscreen">Link to Main Screen</a>

    <p>
    <div th:if="${#fields.hasAnyErrors()}">
        <ul><li th:each="err: ${#fields.allErrors()}" th:text="${err}"></li></ul>
    </div>
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>

</body>
</html>